<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <servlet> 
    <servlet-name>NewListAction</servlet-name>
    <servlet-class>com.ensun.esy.NewListAction</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>NewListAction</servlet-name>
    <url-pattern>/NewListAction</url-pattern>
  </servlet-mapping>
  
   <servlet> 
    <servlet-name>SeachListAction</servlet-name>
    <servlet-class>com.ensun.esy.SeachListAction</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>SeachListAction</servlet-name>
    <url-pattern>/SeachListAction</url-pattern>
  </servlet-mapping>
  
  
  <servlet> 
    <servlet-name>UserLoginAction</servlet-name>
    <servlet-class>com.ensun.esy.UserLoginAction</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>UserLoginAction</servlet-name>
    <url-pattern>/UserLoginAction</url-pattern>
  </servlet-mapping>
  
  <servlet> 
    <servlet-name>UserRegistAction</servlet-name>
    <servlet-class>com.ensun.esy.UserRegistAction</servlet-class>
  </servlet> 
  <servlet-mapping>
    <servlet-name>UserRegistAction</servlet-name>
    <url-pattern>/UserRegistAction</url-pattern>
  </servlet-mapping>
  
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>
